body{
	box-sizing: border-box;
	font-family: Rockwell;
	margin:0;
	padding:0;
}
#main{
	background:#008080;
	margin:-20px 0px 0px 0px;
	width:100%;
	height:100px;
}
header{
	text-align: center;
	color:#fff;
	padding-top: 20px;
}
#Comm{
	color: #87cefa;
}
#inner-img{
	background-color: #fff;
	opacity: 0.6;
	width: 100%;
	height:555px;
}
#showcase {
	border-bottom: 80px solid #008080;
	
}
#showcase img{
	width: 100%;
	height:555px;
}
#icons .fa{
  position:relative;
  margin-top: 100px;
  left: 50%;
  font-size: 70px;
  color: #008080;
}
.question{
	position: absolute;
	left:49%;
	margin-top: -5px;
	font-size:1.2em;
}
.user{
	position: absolute;
	left:51%;
	margin-top: 5px;
	font-size:1.2em;
}
.phone{
	position:absolute;
	left:50%;
	margin-top: -5px;
	font-size:1.2em;
}
#Question p,#user p,#phone p{
	padding-top: 1%;
	font-size: 1.2em;
	text-align: center;
}
footer{
	background-color: #008080;
	height:30px;
	font-size: 15px;
	text-align: center;

}
footer h5{
	color:#fff;
	padding-top: 5px;
	margin-bottom:-30px;
}

@media (max-width: 500px){
    .question {
      left:45%;
    }
    .user{
      left:53%;
    }
    .phone{
      left:50%;
    }
	#Question p,#user p,#phone p{
      padding-top: 2%;
      font-size: 1em;
      text-align: center;
	}
}

@media (max-width: 300px){
    .question {
      left:43%;
    }
    .user{
      left:54%;
    }
    .phone{
      left:50%;
    }
	#Question p,#user p,#phone p{
      padding-top: 6%;
      font-size: 0.8em;
      text-align: center;
	}
}

















